<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.drug.mapper.DosageformsMapper" >
  <resultMap id="BaseResultMap" type="com.accp.drug.pojo.Dosageforms" >
    <id column="DosageFormsID" property="dosageFormsID" jdbcType="INTEGER" />
    <result column="DosageFormsName" property="dosageFormsName" jdbcType="VARCHAR" />
    <result column="isdel" property="isdel" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    DosageFormsID, DosageFormsName, isdel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dosageforms
    where DosageFormsID = #{dosageFormsID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dosageforms
    where DosageFormsID = #{dosageFormsID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.drug.pojo.Dosageforms" >
    insert into dosageforms (DosageFormsID, DosageFormsName, isdel
      )
    values (#{dosageFormsID,jdbcType=INTEGER}, #{dosageFormsName,jdbcType=VARCHAR}, #{isdel,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.drug.pojo.Dosageforms" >
    insert into dosageforms
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dosageFormsID != null" >
        DosageFormsID,
      </if>
      <if test="dosageFormsName != null" >
        DosageFormsName,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dosageFormsID != null" >
        #{dosageFormsID,jdbcType=INTEGER},
      </if>
      <if test="dosageFormsName != null" >
        #{dosageFormsName,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.drug.pojo.Dosageforms" >
    update dosageforms
    <set >
      <if test="dosageFormsName != null" >
        DosageFormsName = #{dosageFormsName,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=INTEGER},
      </if>
    </set>
    where DosageFormsID = #{dosageFormsID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.drug.pojo.Dosageforms" >
    update dosageforms
    set DosageFormsName = #{dosageFormsName,jdbcType=VARCHAR},
      isdel = #{isdel,jdbcType=INTEGER}
    where DosageFormsID = #{dosageFormsID,jdbcType=INTEGER}
  </update>
</mapper>